.hide {
  display: none;
}
.event-wrapper {
  background-color: #231F42;
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.eventlist-Header {
  width: 375px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventlist h1 {
  font-family: Sansita;
  font-style: italic;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F56B9A;
}

.eventlist {
  width: 375px;
  height: 567px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#modal {
  width: 375px;
  height: 567px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal p {
  width: 200px;
  font-family: Fira Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
/* ----------------------------------- */
/* -------------buttons--------------- */
/* ----------------------------------- */

button {
  width: 310px;
  height: 60px;
  border-radius: 3px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

#loginButton {
  left: 32px;
  top: 555px;
  background: #231F42;
  margin-bottom: 2rem;
}

#verifyButton {
  left: 32px;
  top: 390px;
  background: #231F42;
}

#orderButton {
  left: 33px;
  top: 573px;
  background: #37AEAB;
  border-radius: 3px;
}

#addEventButton {
  width: 191px;
  height: 40px;
  left: 893px;
  top: 522px;
  background: #F56B9A;
  font-size: 14px;
  line-height: 17px;
}