html body {
  height: 100vh;
  width: 100vw;
  border: 0;
  margin:0;
  
}

body{
  display: flex;
  justify-content: center;
   align-items: center;
}
.staff-wrapper{
width: 375px;
height: 667px;
background-color: #F39440;
display: flex;
justify-content: center;
align-items: center;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 150px;
  margin-bottom: 50px;
  
}
img{
  width: 150px;
  height: 150px;
  
}
.login-input{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

 .logo, .form-input {
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  
}

h1,h2{
  text-align: center;
  margin: 0px;
}





#username, #password{
  padding: 0;
  margin: 0;
  border: 2px solid #231F42;
  background-color: #F39440;
  width: 310px;
  height: 60px;
  text-align: center;
  margin-bottom: 30px;

  font-family: Fira Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;  
  
}

#loginButton{
  padding: 0;
  margin: 0;
  border: 2px solid #231F42;
  background-color: #231F42;
  color: #ffffff;
  width: 310px;
  height: 60px;
  text-align: center;
  position: relative;
  top: 10px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  
  
  
}
.hide{
  display: none;
}

