html body {
  height: 100vh;
  width: 100vw;
  border: 0px;
  padding: 0px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
img{
  width: 150px;
  height: 150px;
}
.verification-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 375px;
  height: 667px;
  background-color: #F39440;
}
.logo, h1, h2{
  text-align: center;
}

#ticket-number{
  margin-bottom: 10px;
  width: 310px;
  height: 60px;
  background-color: #F39440;;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid  #231F42;
  
}
#verify-ticket{
  
  width: 310px;
  height: 60px;
  color: #ffffff;
  font-size: 22px;
  background-color: #231F42;
  border: 2px solid  #231F42;
}

/* show and hide ticket */
.resp{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
