<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/admin.css">
  <title>Admin</title>
</head>
<body>
  <main class="wrapper">
    <section id="event" class="event">
    

    </section>
    
    
    <section class="form" class="form">
      <h1>Add event</h1>
        
          <input type="text" id="eName" name="eName" placeholder="Name" value=""><br><br>
          <input type="text" id="lName" name="lname" placeholder="Location" value=""><br><br>
          <input type="text" id="date" name="date" placeholder="Date" value=""><br><br>
          <input type="text" id="fTime" name="fTime" placeholder="From time" value=""><br><br>
          <input type="text" id="tTime" name="tTime" placeholder="To time" value=""><br><br>
          <input type="text" id="tickets" name="ticekts" placeholder="tickets" value=""><br><br>
          <input type="text" id="price" name="price" placeholder="Price" value=""><br><br>
          <input type="submit" id="createEv" value="Add the event">
      
    </section>
  </main>
  <script src="./js/admin.js"></script>
</body>
</html>