<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/admin.css">
  <title>Admin</title>
</head>
<body>
  <span class="logo"><a href="index.html"><img src="./pics/logo-colour.png" alt=""></span></a>
  <main class="wrapper">
    <section id="event" class="event">
    

    </section>
    
    
    <section class="form" class="form">
      <h1 id="add-event">Add event</h1>
        <article class="input-field">
          <input type="text" id="eName" name="eName" placeholder="Name" value="">
          <input type="text" id="lName" name="lname" placeholder="Location" value="">
          <input type="text" id="date" name="date" placeholder="Date" value="">
            <section class="submit">
              <p class="p-submit"><input type="text" id="from-time"  name="fTime" placeholder="From time" value=""></p> 
              <p class="p-submit"><input type="text" id="to-time" name="tTime"  placeholder="To time" value=""></p> 
              <p class="p-submit"><input type="text" id="tickets" name="ticekts"  placeholder="tickets" value=""></p> 
              <p class="p-submit"><input type="text" id="price" name="price"  placeholder="Price" value=""></p> 
            </section>
          <p id="start"> <input type="submit" id="createEv"  value="Add the event"></p> 
        </article>
      </section>
  </main>
  <script src="./js/admin.js"></script>
</body>
</html>