<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where it's @</title>
    <link rel="stylesheet" href="css/index1.css">
    <link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <main class="wrapper-choices">
        <section class="log">
            <img src="./pics/logo.png" alt="logo">
            <h1>Where it´s@</h1>
        </section>
        <section class="choice">
            <button class="user"> <a href="client.html"> Buy tickets</a></button>
            <button class="login"><a href="login.html">Staff</a></button>
            <button class="verify"><a href="verify.html">Verify</a></button>
        </section>
    </main>

</body>
</html>