<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/verify.css">
  <title>verification tiket</title>
</head>
<body>

    <main class="verification-wrapper">
      <section class="logo">
        <a href="index.html"><img src="./pics/logo.png" alt=""></a>
        <h1>Where it´s @</h1>
        <h2>STAFF</h2>
      </section>
      <section class="verification-area">
        <input type="text" placeholder="Biljett nummer" id="ticket-number">
      </section>
      <button type="submit" id="verify-ticket">Verify Ticket</button>
      <section class="response"></section>
      
   </main>    
  <script src="js/verify.js"></script>
</body>
</html>
